<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="/product.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header-nav">
        <ul class="main-header-item-list">
          <li class="main-header-item"><a href="/">Shop</a></li>
          <li class="main-header-item">
            <a class="active" href="/admin/add-product">Add Product</a>
          </li>
          <li class="main-header-item">
            <a href="/contact-us">Contact Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <form class="product-form" action="/success" method="POST">
        <div class="form-control">
          <label for="Name">Name</label>
          <input type="text" name="email" id="name" class="box"/>
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" class="box">
        </div>

        <button type="submit">Get A Call</button>
      </form>
    </main>
  </body>
</html>
